<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projectus</title>
  </head>
  <body>
    <h1>Projectus</h1>
    <hr>
    <a href="{{ url_for('projects_list') }}">
      My projects
    </a> | <span>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth_logout') }}">Logout</a> ({{ current_user.name }})
      {% else %}
        <a href="{{ url_for('auth_login_form') }}">Login</a>
      {% endif %}
    </span>
    <hr>
    {% block body %}{% endblock %}
  </body>
</html>

