{% extends "layout.html" %}

{% block body %}
  <h2>
    Are you sure you want to permanently delete category "{{ category.name }}" and its {{ task_count }}
    {% if task_count == 1 %}
      task?
    {% else %}
      tasks?
    {% endif %}
  </h2>

  <br />

  <div>
    <a class="btn btn-danger" href="{{ url_for('categories_delete', project_id = project.id, category_id = category.id) }}">Delete category</a>
    <a class="btn btn-primary" href="{{ url_for('projects_view', project_id = project.id) }}">Cancel</a>
  </div>
{% endblock %}

