{% extends "layout.html" %}

{% block body %}
  <h2>Category {{ category.name }}</h2>

  <form method="POST" action="{{ url_for('categories_edit', project_id = project.id, category_id = category.id) }}">
    {{ form.name.label }} {{ form.name(class_ = "form-control", value = category.name) }} <br />
    {% for error in form.name.errors %}
      <span style="color: red;">
        {{ error }}
      </span>
      <br />
    {% endfor %}

    <input class="btn btn-primary" type="submit" value="Save" />
  </form>

  <a class="btn btn-danger" href="{{ url_for('projects_view', project_id = project.id) }}">Cancel</a>
{% endblock %}

