{% extends "layout.html" %}

{% block body %}
  <h2>New project</h2>
  <form method="POST" action="{{ url_for('projects_create') }}">
    {{ form.name.label }}  {{ form.name(required = True) }} <br />
    {{ form.deadline.label }} {{ form.deadline(required = True) }}

    {% for error in form.name.errors %}
      <br />
      <span style="color: red;">
        {{ error }}
      </span>
    {% endfor %}

    {% for error in form.deadline.errors %}
      <br />
      <span style="color: red;">
        {{ error }}
      </span>
    {% endfor %}

    <br /><br />

    <input type="submit" value="Create project" />
  </form>
{% endblock %}

