{% extends "layout.html" %}

{% block body %}
  <h2>Project {{ project.name }}</h2>

  <a href="{{ url_for('projects_edit_form', project_id = project.id) }}">Edit</a>
  <span> - </span>
  <a style="color: crimson;" href="{{ url_for('projects_confirm_delete', project_id = project.id) }}">Delete</a>

  <hr>

  <p>
    Deadline: {{ project.deadline }}<br />
    Has {{ task_count }} tasks<br />
  </p>

  <div>
    <h3>Tasks</h3>

    {% for task in uncompleted_tasks %}
      <input type="checkbox" onchange="location = '{{ url_for('tasks_toggle_complete', project_id = project.id, task_id = task.id) }}';" />
      {{ task.name }} (deadline: {{ task.deadline }})
      <span> - </span>
      <a style="color: crimson;" href="{{ url_for('tasks_delete', project_id = project.id, task_id = task.id) }}">delete</a>
      <br />
    {% endfor %}

    {% for task in completed_tasks %}
      <input type="checkbox" onchange="location = '{{ url_for('tasks_toggle_complete', project_id = project.id, task_id = task.id) }}';" checked />
      <em style="text-decoration: line-through;">{{ task.name }} (deadline: {{ task.deadline }})</em>
      <span> - </span>
      <a style="color: crimson;" href="{{ url_for('tasks_delete', project_id = project.id, task_id = task.id) }}">delete</a>
      <br />
    {% endfor %}
  </div>

  <br />

  <div>
    <a class="btn btn-primary" href="{{ url_for('tasks_form', project_id = project.id) }}">Add task</a>
  </div>
{% endblock %}
