{% extends "layout.html" %}

{% block body %}
  <h2>Profile</h2>

  <div class="col-md-6">
    <span style="color: red;">
      {{ error }}

      {% for error in form.name.errors %}
        Name: {{ error }}
        <br />
      {% endfor %}

      {% for error in form.username.errors %}
        Username: {{ error }}
        <br />
      {% endfor %}

      {% for error in form.password.errors %}
        Password: {{ error }}
        <br />
      {% endfor %}
    </span>

    <form method="POST" action="{{ url_for('auth_profile_edit') }}">
      {{ form.name.label }} {{ form.name(class_ = "form-control", value = user.name) }} <br />
      {{ form.username.label }} {{ form.username(class_ = "form-control", value = user.username) }} <br />
      {{ form.password.label }} {{ form.password(class_ = "form-control") }} <br />

      <input class="btn btn-primary" type="submit" value="Save changes" />
    </form>

    <a class="btn btn-danger" href="{{ url_for('auth_profile') }}">Cancel</a>
  </div>
{% endblock %}

