{% extends "layout.html" %}

{% block body %}
  <center>
    <div class="col-md-6">
      <span style="color: red;">
        {{ error }}

        {% for error in form.name.errors %}
          Name: {{ error }}
          <br />
        {% endfor %}

        {% for error in form.username.errors %}
          Username: {{ error }}
          <br />
        {% endfor %}

        {% for error in form.password.errors %}
          Password: {{ error }}
          <br />
        {% endfor %}
      </span>

      <form method="POST" action="{{ url_for('auth_register') }}">
        <div class="form-group">
          {{ form.name.label }}
          <br />
          {{ form.name(class_ = "form-control", autofocus = True) }}
        </div>

        <div class="form-group">
          {{ form.username.label }}
          <br />
          {{ form.username(class_ = "form-control", autofocus = True) }}
        </div>

        <div class="form-group">
          {{ form.password.label }}
          <br />
          {{ form.password(class_ = "form-control") }}
        </div>

        <input class="form-control btn btn-primary" type="submit" value="Register" />
      </form>
    </div>
  </center>
{% endblock %}

